// app global css in SCSS form
@import "./variables.scss";

.footer {
  border-top: 1px solid $grey;
  background-color: $primary;
  height: 55px;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  overflow: hidden;
}

textarea {
  resize: none !important;
  /* this will disable resize for all textarea elements.  */
}

textarea::-webkit-scrollbar {
  display: none;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (max-width:1023px) {
  .container {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.fill-window {
  height: calc(100vh - 105px);
  width: 100%;
}

body.platform-ios.q-body--prevent-scroll { 
  position: relative !important;
}