// app global css in SCSS form
@import "./variables.scss";
.footer{
   border-top: 1px solid $grey;
   height: 55px;
}

body {
   overflow-x: hidden;
 }

 textarea {
   resize: none !important; /* this will disable resize for all textarea elements.  */
 }

 textarea::-webkit-scrollbar {
   display: none;
 }

 .container {
  margin-left: 50px;
  margin-right: 50px;
}

.fill-window {
  height: calc(100vh - 105px);
  width: 100%;
}